<div class="card card-login">
        <h1>Alterar Categoria</h1>
        <form action="/categorias/alterar/<%= categoria.id_categoria %>" method="post" class="form-login">
            <label for="nome" class="label">Nome:</label>
            <input type="text" id="nome" name="nome" value="<%= categoria.nome %>" required class="input-form">
            <button type="submit" class="botao-form botao-cadastrar">Salvar Alterações</button>
        </form>
        <br>
        <a href="/categorias/listar" class="link-claro">Voltar para lista de categorias</a>
    </div>