
<div class="card card-login">
        <h1>Cadastro de Categoria</h1>
        <form action="/categorias/cadastro" method="post" class="form-login">
            <label for="nome" class="label">Nome:</label>
            <input type="text" id="nome" name="nome" required class="input-form">
            <button type="submit" class="botao-form botao-cadastrar">Cadastrar</button>
        </form> 
        <br>
        <a href="/categorias/listar" class="link-claro">Voltar para lista de categorias</a>
    </div>