

<div class="card card-login">
    <h1 class="card-title">Cadastro</h1>
    <form action="/usuarios/cadastro" method="post" class="form-login">
        <label for="nome" class="label">Nome:</label>
        <input type="text" id="nome" name="nome" required class="input-form">
        <label for="usuario" class="label">Usuário:</label>
        <input type="text" id="usuario" name="usuario" required class="input-form">      
        <label for="senha" class="label">Senha:</label>
        <input type="password" id="senha" name="senha" required class="input-form">       
        <button type="submit" class="botao-form botao-cadastrar">Cadastrar</button>
    </form>
    <a href="/usuarios/login" class="link-claro">Voltar para a tela de login</a>
</div>
       